# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs/CopyTrading/copilot-chat
/.vs/CopyTrading/CopilotIndices
/.vs/CopyTrading/FileContentIndex
/.vs
/CopyTrading/bin
/CopyTrading/obj
/CopyTriding.Test/obj
/CopyTrading/logs
/CopyTrading.Models/obj
/CopyTrading.Models/bin
/CopyTrading.Blazor/obj
/CopyTriding.Test/bin
/CopyTriding.Test/bin/Debug
/CopyTriding.Test/bin/Debug
CopyTriding.Test/bin/Debug/net8.0/CopyTrading.deps.json
/CopyTriding.Test/bin
